.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: bisque;
}
.logo {
  color: blue;
  font-weight: bold;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link {
  color: black;
  font-style: italic;
}
